@import '../styles/custom-media.css';

.root {
  box-shadow: 0 70px 140px 0 rgba(130,136,171,.2);
  text-decoration: none;
  margin-bottom: 50px;
  border-radius: 25px;
  overflow: hidden;
  color: inherit;
  display: flex;
  flex-direction: column;
}
  
@media (--media-min-medium) {
  .root {
    flex-direction: row;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgWrapper {
  overflow: hidden;
  min-width: 420px;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.container {
  padding: 2em;
}

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}
