.root {
  /* display: block; */
  display: flex;
  color: inherit;
  text-decoration: none;
  border: solid 1px black;
  width: 720px;
  margin-bottom: 50px;
  border-radius: 25px;
  overflow: hidden;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.text {
  padding: 2em;
}

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}
